#league-details-page{
    margin-left:5px;
    margin-right:5px;
}

#league-name{
    text-decoration: underline;
}

.details-subtitle {
    margin-left:5px;
    margin-right:5px;
}

.details-third-level{
    margin-left:15px;
    margin-right:15px;
}